@page
@model IndexModel
@{ 

    ViewData["Title"] = "Home page";
}
    
    <div>
        <h1 class="display-4 mb-5">Convert Service Directory to Google Sheet</h1>
        <div class="row">
            <div class="col-sm">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Example base URL's</h3>
                    </div>

                    <div class="panel-body">
                        <ol>
                            <li>https://outpost-api-service.herokuapp.com/api/v1/</li>
                            <li>https://api.porism.com/ServiceDirectoryServiceBlackburn/</li>
                            <li>https://lgaapi.connecttosupport.org/</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <form method="get" asp-page="/Export">
                    <div class="form-group">
                        <label for="txtBaseUrl">Base URL</label>
                        <input class="form-control" type="url" id="BaseUrl" name="BaseUrl" />
                    </div>
                    @if (TempData["MsgText"] != null )
                    {
                        <div class="alert alert-danger">@TempData["MsgText"]</div>
                    }

                        <input type="submit" value="Export" class="btn btn-primary" />
                    </form>
            </div>
        </div>
    </div>
