@page
@model IndexModel
@{ 

    ViewData["Title"] = "Home page";
}
    <script>
        $(document).ready(function () {
        $.ajax({
            url: "https://validator.openreferraluk.org/api",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $.each(response, function (index, value) {
                    $('#ulExamples').append('<li class="mb-2"><span id="serviceDirectory' + index + '">' + value.url + '</span><button type="button" class="ml-2 btn btn-sm btn-outline-secondary" onclick="$(\'.DemoBaseURL\').val($(\'#serviceDirectory' + index + '\').html())"><span class="mr-2">Try Now</span><img class="m-0 p-0" style="box-shadow:none" src="/images/arrow-thick-right.png" /></button></li>');
                });
            }
        });   
        });
    </script>
    <div>
        <h1 class="display-4 mb-5">Export your Service Directory to Google Sheets</h1>
        <div class="row">
            <div class="col-sm">
                <div class="panel panel-primary">
                    <p>The Service Exporter allows providers to easily view the entire contents of a Service Directory in a Google Spreadsheet form. With derived columns to show how services relate to organisations, service types etc.</p>
                    <div class="panel-heading">
                        <h2 class="panel-title">Example base URL's</h2>
                    </div>

                    <div class="panel-body">
                        <p>Click on a try now button below to automatically populate the Base URL field.</p>
                        <ul id="ulExamples"></ul>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <form method="get" asp-page="/Export">
                    <div class="form-group">
                        <label for="BaseUrl">Base URL</label>
                        <input class="form-control DemoBaseURL" type="url" id="BaseUrl" name="BaseUrl"/>
                    </div>
                    @if (TempData["MsgText"] != null )
                    {
                        <div class="alert alert-danger">@TempData["MsgText"]</div>
                    }

                        <input type="submit" value="Export" class="btn btn-primary" />
                    </form>
            </div>
        </div>
    </div>
