**/.vs
**/.idea
**/.svn
/Utilities/ServiceLoaderBucks/packages/
bin/
obj/
*.suo
*.user
ImplementationTools/ServiceDirectoryExporter/internal-nlog.txt
ImplementationTools/ServiceDirectoryValidator/internal-nlog.txt
ImplementationTools/ServiceDirectoryValidator/internal-nlog.txt
*internal-nlog.txt
*appsettings.json
*App.config