<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Directory Validator</title>
    <meta name="description" content="A tool to ensure your service service directory is following the API and data standard." />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div id="header_wrap" class="outer">
        <header class="inner">

            <div class="row">
                <div class="col">
                    <h1 id="project_title">Service Directory Validator</h1>
                    <h2 id="project_tagline">Open Referral UK Data Standard</h2>
                    <!--        <h2 id="project_tagline">Extensions proposed by the English Local Government Association (LGA) and the local government OpenCommunity project to the OpenReferral standard for human services data.   Schema generator code is given to express the schema in various formats.  Data conversion routines to make it conform to the standard.  API that serves the data in a format compliant with the standard.</h2>-->
                </div>
                <div class="col-sm-4 col-md-2 align-content-end align-content-center-md" style="min-width: 20%; max-width: 40%">
                    <img class="img-fluid w-25-md w-50-lg" src="~/images/OpenReferralUK.png" alt="OpenreferralUk Logo" style="background-color: white">
                </div>
            </div>
        </header>
    </div>
    <div id="main_content_wrap" class="outer">
        <section>
            <div class="navbackground">
                <nav class="navbar navbar-expand-md navwidth navbar-dark">
                    <a class="navbar-brand" href="https://openreferraluk.org/">Open Referral UK</a>
                </nav>
            </div>
        </section>
        <section id="main_content" class="inner">
            @RenderBody()
        </section>
    </div>

    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p class="copyright">Open Referral UK Data Standard maintained by <a href="https://github.com/OpenReferralUK">Open Referral UK</a></p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
