@page
@model IndexModel
@using Microsoft.Extensions.Primitives;
 
@{
    ViewData["Title"] = "Validate your Service Directory";
    var endpointValues = Request.Query["endpoint"];
    var urlValues = Request.Query["url"];
    var endpoint = !StringValues.IsNullOrEmpty(endpointValues) ? endpointValues : urlValues;
    var finished = false;
}
<script>
    function outputArray(label, ulId, list) {
        if (list.length == 0) {
            return;
        }
        $('#divResults').append("<div class='row'><div class='col-md-4'><strong>" + label + "</strong></div><div class='col-md-8'><ul class='list-unstyled' id='" + ulId+"'></ul></div></div>");
        var listElement = $('#'+ulId);
        $.each(list, function (i, item) {
            $('<li>').addClass('text-break').append(item).appendTo(listElement);
        });
    }

    function outputPassFail(isPass, passMessage, failMessage) {
        if (isPass) {
            $('#divOutput').append('<div class="alert alert-success w-100 text-left" role="alert">' + passMessage+'</div>');
        } else {
            $('#divOutput').append('<div class="alert alert-danger w-100 text-left" role="alert">' + failMessage +'</div>');
        }
    }

    function disableValidateButton() {
        $('#btnValidate').prop('disabled', true);
        $('#btnValidate').css('pointer-events', 'none');
    }

    function enableValidateButton() {
        $('#btnValidate').prop('disabled', false);
        $('#btnValidate').css('pointer-events', '');
    }

    function performValidation() {
        if ($("#btnValidate").is(":disabled")) {
            return;
        }
        if ($('#txtBaseUrl').val().length === 0) {
            
            $('#errText').html("Please enter a valid url to access your data");
            $('#errText').removeClass('d-none').addClass('d-block alert-danger');

        } else {
            disableValidateButton();
            $.ajax({
                type: "GET",
                url: "/Index?handler=ValidUrl",
                contentType: "application/json",
                dataType: "json",
                data: {
                    baseUrl: $('#txtBaseUrl').val(),
                    id: $('#hidID').val()
                },
                success: function (response) {                    
                    if (response.error) {
                        $('#errText').html('<strong>' + response.error + '</strong>');
                        $('#errText').removeClass('d-none').addClass('d-block');
                        
                    } else {
                        $('#errText').removeClass('d-block alert-danger').addClass('d-none');
                        validateDirectory();
                    }
                },
                failure: function (response) {
                    alert('it failed' + response)
                }
            });
           
            $('#divOutput').html("");
        }

        function showProgress() {
            $.ajax({
                type: "GET",
                url: "/Index?handler=Progress",
                contentType: "application/json",
                cache: false,
                dataType: "json",
                data: {
                    baseUrl: $('#txtBaseUrl').val(),
                    id: $('#hidID').val()
                },
                success: function (response) {
                    if (finished) { return; }
                    if (response.totalPages == 0) {
                        $('#divOutput').html('<h3 id="headerLogo">Starting scan...please wait...this may take a while...</h3>');
                    }
                    else if (response.currentPage == response.totalPages) {
                        $('#divOutput').html('<h3 id="headerLogo">Performing final tests...please wait...this may take a while...</h3>');
                    }
                    else {
                        $('#divOutput').html('<h3 id="headerLogo">Scanned ' + Math.floor((response.currentPage / response.totalPages) * 100) + '% of sample data...please wait...this may take a while...</h3>');
                    }
                    if (response.currentPage == 0 || response.currentPage != response.totalPages) {
                        setTimeout(function () { showProgress(); }, 5000);
                    }
                }
            });
        }

        function scrollTo(id) {
            var offset = $(id).offset();
            if (offset == null) {
                return;
            }
            $("html, body").animate({ scrollTop: offset.top }, 1000);
        }
        
        function validateDirectory() {
            finished = false;
            showProgress();
           
            $.ajax({
                type: "GET",
                url: "/Index?handler=Validate",
                contentType: "application/json",
                dataType: "json",
                data: {
                    baseUrl: $('#txtBaseUrl').val(),
                    id: $('#hidID').val()
                },
                success: function (response) {
                    finished = true;
                    enableValidateButton();
                    if (response.error) {
                        $('#divOutput').html('<h3 id="headerResults">An error occurred</h3><strong>' + response.error + '</strong>');
                    }
                    else {
                        $('#divOutput').html('<h3 id="headerResults">Results</h3>');
                        outputPassFail(response.level1Pass, 'You have passed level 1 compliance, which means data can be read from your Service Directory API in a standard way.', 'You have failed level 1 compliance, which means data can not be read from your Service Directory API in a standard way.');
                        outputPassFail(response.level2Pass, 'You have passed level 2 compliance, which means your Service Directory API supports the more advanced features of the API standard.', 'You have failed level 2 compliance, which means your Service Directory API does not support the more advanced features of the API standard.');
                        $('#divOutput').append('<div class="col-8 pl-0"><div id="divResults"><h4>Issues</h4></div></div><div class="col-4 pr-0"><h4>Statistics</h4><div id="divStats"></div></div>');
                        outputArray("API issues", "apiIssues", response.apiIssues);
                        outputArray("Missing required fields", "missingFields", response.missingRequiredFields);
                        outputArray("Unique fields with duplicate content", "uniqueFields", response.invalidUniqueFields);
                        outputArray("Invalid data type fields", "typeFields", response.invalidDataTypes);
                        outputArray("Invalid format fields", "formatFields", response.invalidFormats);
                        outputArray("Invalid values", "invalidValues", response.invalidValues);
                        $('#divStats').html("<ul class='list-unstyled' id='resourceStats'></ul>");
                        var resourceStats = $("#resourceStats");
                        $.each(response.resourceCounts, function (i, item) {
                            $('<li>').append('Count of ' + item.name + ': ' + item.count).appendTo(resourceStats);
                        });                        
                    }      
                    scrollTo("#headerResults");
                },
                failure: function (response) {
                    enableValidateButton();
                    alert(response);
                }
            });
            scrollTo("#headerLogo");
        }
    }

    var onTryMeButtonClick = function () {
        var url = $(this).attr('data-url');
        $('.DemoBaseURL').val(url);

        var $formGroup = $('#validateForm .form-group');
        var $message = $formGroup.find('span.accessibility-message');
        if ($message.length > 0)
            return;

        $formGroup.prepend('<span class="accessibility-message" style="opacity: 0; position: absolute">Base URL applied</span>');
    };

    function togglePanel() {
        var w = $(window).width();
        if (w <= 1199) {
            $('#example-links').addClass('collapse');
            $('#example-links-button').attr('aria-expanded', 'true');
        } else {
            $('#example-links').removeClass('collapse');
            $('#example-links-button').attr('aria-expanded', 'false');
        }
    }

    $(window).resize(function () {
        togglePanel();
    });    

    $(document).ready(function () {
        togglePanel();

        $("#txtBaseUrl").keyup(function (event) {
            if (event.keyCode === 13) {
                performValidation();
            }
        });

        $.ajax({
            url: "/api",
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                $.each(response, function (index, value) {
                    var $li = $('<li class="mb-2"></li>');
                    var $button = $('<a href="javascript:void()" data-url="' + value.url + '">' + value.url + '</a>');
                    $li.append($button);
                    $('#ulExamples').append($li);
                    $button.on('click', onTryMeButtonClick);
                });
            }
        });

        if (!!$('#txtBaseUrl').val().length) {
            performValidation();
        }
    });
</script>
<div>
    <h1 class="display-4 mb-5">Validate your Service Directory</h1>
    <div class="row">
        <div class="col-sm">
            <div class="panel panel-primary mb-5">
                <p>This tool checks that a specific service directory follows the standard. It shows any issues as well as statistics on what types of data is included in the scanned Service Directory. This helps organisations move to the standard. This tool also helps establish trust as it ensures that a Service Directory follows the standard.</p>
                <div class="panel-heading">
                    <div class="panel-title h3"><span id="example-links-button" class="accordion-toggle" data-toggle="collapse" data-target="#example-links"><span>Example base URLs</span></span></div>
                </div>

                <div class="panel-body" id="example-links">
                    <p>Click on a URL below to automatically populate the Base URL field.</p>
                    <ul class="list-unstyled" id="ulExamples"></ul>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <form id="validateForm">

                <div class="form-group" aria-live="polite" aria-atomic="true">
                    <label for="txtBaseUrl">Base URL</label>
                    <input class="form-control DemoBaseURL" type="url" id="txtBaseUrl" value="@endpoint" />
                    <input type="hidden" id="hidID" asp-for="hidID" />
                    <span asp-validation-for="txtBaseUrl"></span>
                </div>
                <div class="d-none" id="errText">invalid</div>

                <input type="button" value="Validate" id="btnValidate" onclick="performValidation()" class="button button-primary" />
            </form>
            <div class="row m-0 mt-5" id="divOutput"></div>
        </div>
    </div>    
</div>