<div class="navbackground">
    <nav class="navbar navbar-expand-sm navwidth" style="">
        <ul class="navbar-nav">
            {% for entry in site.data.navigation %}
                {% if entry.child %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}{{ entry.url }}" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ entry.title }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for child in entry.child %}
                                <a class="dropdown-item" href="{{ site.baseurl }}{{ child.url }}">{{ child.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
                    </li>
                {% endif %}
            {% endfor%}
        </ul>
    </nav>
</div>
