<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EndPoints" type="Combiner.MultipleBaseURLsSection, Combiner" requirePermission="false" />
  </configSections>
  <EndPoints>
    <Values>
      <add url="https://blackburn.openplace.directory/o/ServiceDirectoryService/v2"/>
      <add url="https://bristol.openplace.directory/o/ServiceDirectoryService/v2"/>
      <add url="https://api.familyinfo.buckinghamshire.gov.uk/api/v1"/>
      <add url="https://api.porism.com/ServiceDirectoryServiceCQC"/>
      <add url="https://openreferral.localgovdrupal.org/openreferral/v1"/>
      <add url="https://elmbridge.openplace.directory/o/ServiceDirectoryService/v2"/>
      <add url="https://fyldecoast.openplace.directory/o/ServiceDirectoryService/v2"/>
      <add url="https://lgaapi.connecttosupport.org"/>
      <add url="https://northlincs.openplace.directory/o/ServiceDirectoryService/v2"/>
      <add url="https://api.porism.com/ServiceDirectoryServiceOpenActiveAggregated"/>
    </Values>
  </EndPoints>
</configuration>