<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <add name="ServiceDirectory" providerName="MySql.Data.MySqlClient" connectionString="redacted"/>
  </connectionStrings>

  <appSettings>
    <add key="ApiURI" value="https://bucks-care.herokuapp.com/api/services"/>
  </appSettings>
</configuration>