@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

* {
  font-family: 'Raleway',
    sans-serif;
  scroll-behavior: smooth;
}


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navPrincipal {
  height: 5em;
}

.logoDiv {
  position: absolute;
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoButton {
  width: 2em;
}

.infoButton:hover .infoAPI {
  display: flex;
  width: auto;
}

.infoAPI {
  transition: 0.2s;
  position: fixed;
  top: 60px;
  left: 50px;
  z-index: 1000;
  display: none;
}

.infoDiv {
  border: 2px solid rgb(255, 97, 97);
}

.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.personaProfile>.card-header {
  background: rgb(255, 155, 155);
}

.personaProfile>div>.card-body {
  /* box-shadow: inset 1px 1px 500px 0 rgb(255, 185, 185); */
  background: rgba(255, 155, 155, 0.2);
}

.searchMethod>.card-header {
  background: rgb(122, 184, 255);
}

.searchMethod>div>.card-body {
  background: rgba(122, 184, 255, 0.2);
}

.previousSearches>.card-header {
  background: rgb(147, 246, 255);
}

.previousSearches>div>.card-body {
  background: rgba(147, 246, 255, 0.2);
}


.favouritesSearches>.card-header {
  background: rgb(255, 235, 119);
}

.favouritesSearches>div>.card-body {
  background: rgba(255, 235, 119, 0.2);
}

.favouritesServices>.card-header {
  background: rgb(255, 139, 240);
}

.favouritesServices>div>.card-body {
  background: rgba(255, 139, 240, 0.2);
}

.searchingFor>.card-header {
  background: rgb(191, 255, 223);
}

.searchingFor>div>.card-body {
  background: rgba(191, 255, 223, 0.2);
}

.accordion-header {
  /* Change the line below if you want another button color */
  background: transparent;
  border: none !important;
}

/* Search method selected  */
.itemSelected {
  border: 1px solid rgb(226, 226, 226);
  background: rgba(255, 255, 255, 0.466);
  /* box-shadow:1px 1px 5px 0 rgb(196, 196, 196); */
}

.sticky {
  top: 20px;
}

/* E11 fixes */
.card {
  word-wrap: normal !important;
}

.card-selection {
  position: relative;
  transition: 0.3s;
}

.card-selection[aria-expanded="true"] {
  /* content: "\f106"; */
  background: rgba(122, 122, 122, 0.25);
}

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.panel-title,
.results-title {
  position: relative;
}

.panel-title::after {
  content: "\f107";
  color: #333;
  top: 0px;
  position: absolute;
  font-family: "FontAwesome";
  bottom: 0;
  margin: auto;
  font-size: 24px;
  height: 100%;
  display: flex;
  right: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.results-title::after {
  content: "\f107";
  color: rgb(86, 90, 94);
  top: 0px;
  position: absolute;
  font-family: "FontAwesome";
  bottom: 0;
  margin: auto;
  font-size: 24px;
  height: 100%;
  display: flex;
  left: 0;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.panel-title[aria-expanded="true"]::after,
.results-title[aria-expanded="true"]::after {
  /* content: "\f106"; */
  transform: rotate(180deg);
}

.modal {
  z-index: 1000 !important;
}

.modal-backdrop {
  z-index: 999 !important;
}

.input-disabled {
  background: rgb(223, 223, 223);
}

.nav-link[aria-selected="false"] {
  background: rgba(79, 145, 221, 0.589);
  color: rgb(255, 255, 255);
}

iframe.map {
  margin-bottom: 15px;
  border-radius: 20px;
}

.sticky-top {
  position: -webkit-sticky !important;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.mobile {
  margin-right: 15px;
  width: 9vw;
  max-width: 50px;
}

.search-button-div {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  background: #007bff;
  border-radius: 50%;
  z-index: 1500;
  box-shadow: 2px 2px 5px 0 #a1a1a1;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-div>p {
  color: #eee;
  margin-bottom: 0 !important;
}

.mobile-only {
  display: none;
}

@media (max-width : 1200px) {

  .mobile-only {
    display: none !important;
  }

  .tablet-only {
    display: none !important;
  }

  .card-grid {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width : 992px) {
  .mobile-only {
    display: none !important;
  }

  .tablet-only {
    display: flex !important;
  }

  .dropdown-menu {
    left: -150px;
  }
}

@media (max-width : 767px) {
  .tablet-only {
    display: none !important;
  }

  .mobile-only {
    display: flex !important;
  }


  .mobile {
    margin: unset;
  }

  .nav-link {
    margin: 2px auto;
  }

  .logo {
    left: 5px;
    margin: auto 0;
    width: 50%;
    height: auto;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}